@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

#root {
    text-align: center;
}

.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-family: 'Quicksand', sans-serif;

}

.top_header {
    top: 0;
    display: flex;
    width: 98%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.navbar {
}

.product_list {
    margin: auto;
}

.login_info {
    margin: auto;
}

.categorySorter{
    height: 50px;
    width: 200px;
    margin: auto;
    background-color: rgb(48, 98, 98);
    color: #fefefe;
    border: none;
    border-radius: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}


